/*classes egyro,akyro*/

.egyro{
    color: green;
    content: "✔";
}
.akyro{
    color: red;
    content: "Λάθος κωδικός!";
}

/*Μορφοποίηση για το navigation bar της αρχικης σελ. πολιτη*/

.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin:  0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
   background-color: hsl(0, 0%, 10%);
}
.navbar li{
    float: left;
}